body{background-color: black;
text-align: center;
color: rgb(156, 209, 255);
text-decoration: dashed;}

h1{color: rgb(172, 0, 0);
text-decoration: dashed;}
h2{color: rgb(172, 0, 0);
text-decoration: dashed;}